<body background="/images/img1.jpg" style="background-size: cover;">

<div class="container-fluid">

  <div class="page-header">
    <h1 id="main-heading">ASMR Trigger Happy</h1>
    <a class="btn btn-default btn-sm" href="/users" role="button">Click to View Our Contributors</a>
  </div>
  
  <div class="row">
  	{{#each users}}
        {{#each videos}}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item">{{{url}}}</div>
            </div>
            <div class="caption">
              <h3><a href="/users/{{../id}}/videos/{{this.id}}">{{video_title}}</a></h3>
              <p>Uploaded by: <a href="/users/{{../id}}">{{../username}}</a></p>
              <p class="trigger">Trigger(s): {{triggers}}</p>
            </div>
          </div>
        </div>
        {{/each}}
    {{/each}}
  </div>

</div>

</body>