<body background="/images/img1.jpg" style="background-size: cover;">

<div class="container-fluid">

  <div class="page-header">
    <h1 id="main-heading">ASMR Trigger Happy <small><a href="/users">(Click to View Our Contributors)</a></small></h1>
  </div>

  <!-- <p>Look Here: {{ session.users.username }}</p> -->

  <div>
  	{{{video.url}}}
  </div>

  <ul>
  	{{#each user.videos}}
  		<li><a href="/users/{{../user.id}}/videos/{{this.id}}">{{this.video_title}}</a></li>
  		<br/>
  	{{/each}}
  	<!-- <a href="/users/{{user._id}}/videos/new">New Favorite Video</a> -->
  </ul>

</div>

</body>