<body id="videos-edit">

<div class="container-fluid" style="color: white; text-shadow: 2px 2px black;">
  <div class="page-header">
    <h1 style="color: white;">Edit This Video: {{video.video_title}}</h1>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-offset-4">
      <div class="embed-responsive embed-responsive-16by9">
        {{{video.url}}}
      </div>
      <br>
      <form action="/users/{{user.id}}/videos/{{video.id}}?_method=PATCH" method="POST">
        <div class="form-group">
          <label for="video_title">Title:</label>
          <input type="text" name="video_title" class="form-control" value="{{video.video_title}}">
        </div>

        <div class="form-group">
          <label for="artist_name">ASMR Artist:</label>
          <input type="text" name="artist_name" class="form-control" value="{{video.artist_name}}">
        </div>
        
        <div class="form-group">
          <label for="genre">Genre:</label>
          <input type="text" name="genre" class="form-control" value="{{video.genre}}">
        </div>
        
        <div class="form-group">
          <label for="language">Language:</label>
          <input type="text" name="language" class="form-control" value="{{video.language}}">
        </div>
        
        <div class="form-group">
          <label for="triggers">Triggers:</label>
          <input type="text" name="triggers" class="form-control" value="{{video.triggers}}">
        </div>
        
        <div class="form-group">
          <label for="date">Date Uploaded:</label>
          <input type="text" name="date" class="form-control" value="{{video.date}}">
        </div>
        
        <div class="form-group">
          <label for="video_length_mins">Video Length in Minutes:</label>
          <input type="text" name="video_length_mins" class="form-control" value="{{video.video_length_mins}}">
        </div>
        
        <button type="submit" class="btn btn-info">Update Video Information</button>
      </form>
    </div>
  </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/users/{{user.id}}/videos/{{video.id}}">Back to {{video.video_title}}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
    {{#if currentUser}}
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-right" action="/users/{{user.id}}/videos/{{video.id}}?_method=DELETE" method="POST">
          <div class="form-group">
            <button type="submit" class="btn btn-danger">Delete This Video :(</button>
          </div>
        </form>
      </ul>
    {{/if}}
    </div>
  </div>
</nav>

</body>