<body id="videos-index">

	<div class="container">
		<div style="color: white; text-shadow: 1px 1px black;">
			<div>
				<div class="page-header">
					<h1 id="main-heading">{{user.username}}'s Favorite ASMR Videos</h2>
				</div>
			</div>

			<h2>Click to View:</h2>

			<ul>
				{{#each user.videos}}
					<li><a style="text-shadow: 1px 1px black;" href="/users/{{../user.id}}/videos/{{this.id}}">{{this.video_title}}</a></li>
					<br/>
				{{/each}}
			</ul>
		</div>

	<a class="btn btn-info btn-sm" href="/users/{{user.id}}/videos/new" role="button">Add a New Favorite Video</a>

	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom">
	  <div class="container">
	  	<div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/users/{{user.id}}">Back to {{user.username}}'s Account</a>
        </div>
	  	<!-- <div id="navbar" class="navbar-collapse collapse">
		  	<ul class="nav navbar-nav navbar-right">
	            <li><a href="/users/{{user.id}}/edit">Edit Your Account</a></li>
	            <form class="navbar-form navbar-right" action="/users/{{user.id}}?_method=DELETE" method="POST">
		          <div class="form-group">
		            <button type="submit" class="btn btn-default">Delete Your Account</button>
		          </div>
		        </form>
	        </ul>
        </div> -->
	  </div>
	</nav>
</body>