<h2>{{user.username}}'s Favorite ASMR Videos</h2>

<ul>
	{{#each user.videos}}
		<li><a href="/users/{{../user.id}}/videos/{{this.id}}">{{this.video_title}}</a></li>
		<br/>
	{{/each}}
	<a href="/users/{{user.id}}/videos/new">New Favorite Video</a>
</ul>

<a href="/users/{{user.id}}" class="btn btn-default">Back to {{user.username}}'s Videos</a>