<body background="/images/img9.jpg" style="background-size: cover;">
  <div class="panel panel-default">
  <div class="row">
  <div class="col-md-6">
  <div class="panel-body">
    <div class="page-header">
      <h1>{{video.video_title}}</h1>
    </div>
    <ul style="font-size: 1.5em;">
      <li>Artist: {{video.artist_name}}</li>
      <li>Genre: {{video.genre}}</li>
      <li>Language: {{video.language}}</li>
      <li>Triggers: {{video.triggers}}</li>
      <li>Date Uploaded: {{video.date}}</li>
      <li>Video Length: {{video.video_length_mins}} Minutes</li>
      <br>
      
      {{{video.url}}}

      <div>
      <a href="/users/{{user.id}}/videos/{{video.id}}/edit" class="btn btn-default">Edit This Video</a>
      <form class="navbar-form navbar-right" action="/users/{{user.id}}/videos/{{video.id}}?_method=DELETE" method="POST">
        <div class="form-group">
          <button type="submit" class="btn btn-default">Delete This Video :(</button>
        </div>
      </form>
      </div>

    </ul>
  </div>
  </div>
  </div>
  </div>
  <div style="display: inline-flex;">
    <nav>
    	<a href="/users/{{user.id}}/videos" class="btn btn-default">Back to All of {{user.username}}'s Videos</a>
    </nav>
  </div>

</body>