<body background="../images/img7.jpg" style="background-size: cover;">

<div class="page-header">
	<h1>Users:</h1>
</div>

<!-- <p>Look Here: {{ session }}</p> -->

<div style="color: white; text-shadow: 1px 1px black;" class="container">
	<ul>
	  {{#each users}}
	  	<li>
	    	<h2><a href="/users/{{this.id}}/">{{this.username}}</a></h2>
	    	<p>{{this.about}}</p>
	    	<p>{{this.username}} has {{this.videos.length}} video(s).</p>
	    	<br>
	    </li>
	  {{/each}}
	</ul>
</div>

</body>