<body background="/images/img4.jpg" style="background-size: cover;">

<div style="color: white; text-shadow: 1px 1px black;">

<h2>{{user.username}}</h2>
<p>{{user.about}}</p>

<h3><a href="/users/{{user.id}}/videos">My Favorite Videos (Click here to see them!):</a></h3>
<ul>
  {{#each user.videos}}
  	<li>
    	<p>Title: {{this.video_title}}</p>
    </li>
  {{/each}}
</ul>

<form style="text-align: center;" action="/users/{{user.id}}?_method=DELETE" method="POST">
	<input type="submit" value="Delete Your Account"/>
</form>

</div>

<br>
<br>
<br>

<div style="display: inline-flex;">
<nav>
	<a href="/users/{{user.id}}/edit" class="btn btn-default">Edit Your Account</a>
	<a href="/users" class="btn btn-default">Back to Users</a>	
</nav>

</div>

</body>